#If you use LINUX SYSTEM, you can use the following command to generate an enviroment for this project:

# ```bash
# export MONGO_URI = "mongodb+srv://your-credentials"
# ```

#If you use WINDOWS SYSTEM, you can use the following command to generate an enviroment for this project:
# ```bash
# set MONGO_URI="mongodb+srv://your-credentials"
# ```